.body{
    display: flex;
    flex-direction: column;
}
@media (max-width: 900px) {
    .menu > .top-menu {
        display: none;
    }
}
@media (max-width: 900px) {
    .img-feeds {
        display: none;
    }
}
.main{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/ap-ui.jpg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #5f547d;
}   
.title{
    padding-left: 30px;  
}
.l{
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
}
.g{
    color:red;
    font-weight: 100;
    letter-spacing: 1px;
}
.menu{
    display: flex;
    justify-content: space-between;  
}
.top-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-main {
    list-style: none;
    float: right;
    display: flex;
    flex-direction:row ;
    width: 100%;
    justify-content: space-between;
}
.menu-main li {
 }

.menu-main a {
    text-decoration: none;
    display: flex;
    position: relative;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Sansation';
    font-weight: bold;
    color: white;
    transition:.6s linear;
    font-weight: 100;
  }
.social{
  }
.main{
    background-color: #382a68;
  }
.content{
    display: flex;
    flex-direction: column;
  }
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.ban-h{
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    scroll-padding-bottom: 20px;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content:center;
  }
.banner {
    border: 1.3px solid  rgba(255,255,255,0.1);
    /* margin-right: 450px;
    margin-left: 450px; */
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom:0px;
  }
.ban-text {
    width: 340px;
    opacity: 0.7;
    color: #ffffff;
    font-family: monospace;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;

  }
.banner-description {
    padding: 10px;
  }
.ban-but {
    margin-bottom:-17px;
    padding-bottom:0px;
    background-color:transparent;
    color: white;
    border: 2px solid white;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
.lit-abo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-abo {
    display: flex;
    width: 50%;

}
.text-abo{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.img-about{
    width: 100%;
}
.a-text {
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 0.1px;
    display:flex;
    align-self: flex-start;
    margin-left: 88px;
    padding-bottom: 14px;
    margin-bottom: 20px;
    /* padding-right: 200px; */
    font-weight: inherit;
    margin-top: 29px;
    
}
.about-text {
    font-family:sans-serif;
    font-weight:bold;
    font-size: 18px;
    padding-left: 55px;
    line-height: 25px;
}
.read {
    display:flex;
    align-self: flex-start;
    justify-content: center;
    background-color: #05a0af;
    border: none;
    margin-left: 35px;
    width: 21%;
    height: 32px;
    color: white;
    font-family: sans-serif;
    margin-top: 30px;
    border-radius: 4px;
}
.our-ser{
    display: flex;
    flex-direction: column;
    background-color: #373737;
}
.title-services{
    display: flex;
    justify-content:center;
    background-color: #373737;
    color: white;
    border-bottom: 2.5px solid silver;
    margin: 20px;
    font-size: 50px;
    font-family: sans-serif;
    padding: 0px;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;

}
.a-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#3d3d3d;
    padding-top: 30px;
    padding-bottom: 30px;
}
.b-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#097e89;
    padding-top: 30px;
    padding-bottom: 30px;
}
.c-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#3d3d3d;
    padding-top: 30px;
    padding-bottom: 30px;
}
.text-abc{
    color: #c1c1c1;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 25px;
    padding-right:35px;
    padding-top: 20px
    ;
}   
.butt-abc{
    color: white;
    font-family: sans-serif;
    font-size:14px;
    background-color: #959595;
    border: none;
    border-radius: 3px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 7px;
    padding-bottom: 7px;

}
.develop{
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    display: flex;
    justify-content: space-between;
    line-height: 10px;

}
.sld{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}
.feedback{
    display: flex;
    flex-direction: column;
    background-color: #373737;

}
.title-feedback{
    display: flex;
    justify-content:center;
    background-color: #373737;
    color: white;
    border-bottom: 2.5px solid silver;
    margin: 20px;
    font-size: 50px;
    font-family: sans-serif;
    padding: 0px;
}
.content-feedback{
    display: flex;
    flex-direction: row;
}
.img-feed{
    width: 23%;
   padding: 10px;
}
.img-feeds{
    width: 23%;
   padding: 10px;
}
.sld-info{
    width: 31%;
    display: flex;
    flex-direction: row;
    padding: 5px;

}
.i-i{
    width: 100%;
}
.text-sld-info{
    display: flex;
    align-items: unset;
    font-family: sans-serif;
    font-size: 22px;
    color: #c1c1c1;
    padding: 5px;
    margin: 5px;
}
 .info-tab{
     display:flex;
     flex-direction: row;
     /* width: 300px; */
     margin-top: -57px;
 }
.tab{ 
    display: flex;
    justify-content: center;
    background-color: white;
    color:#373737;
    width: 28%;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 20px;
    padding-top: 10px;
}
.bat{
    background-color: white;
    color: black;
    width: 67%;
    font-size: 20px;
}    
.clients{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.title-clients {
    display: flex;
    justify-content:center;
    color: #656464;
    border-bottom: 2.5px solid silver;
    margin: 20px;
    font-size: 50px;
    font-family: sans-serif;
    padding: 0px;
}

.img-clients{
    display: flex;
    flex-direction:row;
    justify-content:space-between;

}
.clients-img{
    display: block;
    height: auto;
}
.client-img{
    display: block;
    height: auto;
    
}
.cli-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 35px;
    padding: 20px;
}
   
.any{
    display: flex;
    flex-direction: column;
    background-color: #097e89;
    padding: 10px;
    margin: -8px;


}
.any-text-but{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.any-title{
    color:#ffffff ;
    font-size:40px;
    font-family:sans-serif;
}
.any-text-p{
    /* width: 650px; */
    color:#ffffff ;
    font-size:18px;
    font-family:sans-serif;
    margin-right: 10px;

}
.any-tabl{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;
}
.your-name{
    margin:-1px;
    padding-right: 20px;
    padding-left:20px;
    padding-top:15px;
    padding-bottom: 15px;
    background-color: #097e89;
    font-family: sans-serif;
    color: #a9d2d6;;
    border-top-left-radius:3px;
    border-bottom-left-radius: 3px;
    border-color:white;
    /* width: 200px; */
}
.your-namber{
    margin:-3px;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 15px;
    padding-top:15px;
    background-color:#097e89;
    color: #a9d2d6;
    font-family: sans-serif;
    border-color: white;
    /* width: 200px; */
}
.but-get{
    background-color: #ffffff;
    color: #097e89;
    font-size:16px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    height: 58px;
    padding: 18px;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #474747;
    margin-top: 8px;


}
.pr-le-co{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.prd-list{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    font-size: 15px;
}
 .lear-list{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 15px;
    
}
.comp-list{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-left: 25px;
    font-size: 15px;
}
.title-list-ftr{
    color: white;
    padding-left: 38px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.list-ftr-l{
    padding-left: 80px;
}
.list-ftr-c{
    padding-left: 85px;
}    
.subsc-social-footr{
    display: flex;
    flex-direction: column;
}
.subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.inp-em{
    border: 1px solid silver;
}
.but-subsc{
    background-color: #0072bc;
    border: none;
    height: 42px;
    width: 90px;
    color: white;
    font-size: 13px;
}
.your-email{
    color: #474747;
    height: 39px;
    width: 200px;
    padding-left: 13px;
}   

.socil-icon-ft{
    background-color: #2e2e2e;
    border-radius: 3px;
}
.social-icon-footr{
    display: flex;
    flex-direction: row;

}
.social-icon-f{
    padding: 15px;
}